.photo-grid {
	margin: 1em auto;
	max-width: 100%;
	text-align: center;
}

.project-box {
    width: 200px;
    padding: 5px;
    border: 5px solid gray;
    margin-left:40px;
}

.project-hr {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    border-style: inset;
    border-width: 0.5px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    opacity: .7;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: 100%;
	max-width: 100%;
}

.photo-grid figure {
	height: 289px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}



.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: 100%;
	-webkit-transition: all 289ms;
	-moz-transition: all 289ms;
	transition: all 289ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	display: table-row;
	font-size: 1em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid figcaption p {
	display: table-row;
	font-size: 1em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 289ms ease-out;
	-moz-transition: all 289ms ease-out;
	transition: all 289ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}


.photo-grid figcaption h4 {
	display: table-row;
	font-size: 1.25em;
	position: absolute;
	text-decoration: underline;
	top:10px;
	width: 289px;
	vertical-align: top;
}

.photo-grid figcaption h4 {
	display: table-row;
	font-size: 1.25em;
	position: absolute;
	text-decoration: underline;
	top : 10px;
	width: 289px;
	color:#FFFFFF;
	vertical-align:top;
}

.photo-grid li:hover figcaption h4 {
}


.photo-grid figcaption a {
	display: table-row;
	font-size: 1.25em;
	position: absolute;
	width: 289px;
	vertical-align: bottom;
}

.photo-grid figcaption a {
	display: table-row;
	font-size: 1.25em;
	position: absolute;
	width: 289px;
	color:#FFFFFF;
	vertical-align: bottom;
}

.photo-grid li:hover figcaption a {
}

.photo-grid figcaption project-hr {
	display: table-row;
	position: absolute;
	top:50px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid figcaption project-hr {
	display: table-row;
	position: absolute;
	top: 50px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption project-hr {
}


.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 289ms;
	-moz-transition: all 289ms;
	transition: all 289ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}