<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Academics</title>
        <link rel="icon" href="{% static 'images/title_image_48x48.jpg' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/academics.css' %}">
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Mohit Reddy</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/academics/">Academics</a></li>
					<li><a href="https://drive.google.com/file/d/0B8c0Bnt30GX0RC1BQm5YTURBVTQ/view?usp=sharing" target="_blank">Resume</a></li>
					<li><a href="/#contact_me">Contact Me</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">


					<header class="major special">
						<h2>Academics</h2>
					</header>

                    <div class="acad_area">
                        <header class="major narrow">
                            <h3 style="align: left; top-margin: 10px;">Under Graduation</h3>
                        </header>
                        <div class="inner" style="margin-left: 20px;">
                            <img src="{% static 'images/nitk.gif' %}" style="max-width: 200px; max-height: 200px; float: right; margin-right: 40px;">
                                <h5 style="display: inline;">Institute: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">National Institute of Technology, Karnataka, India.</p>
                                <br>
                                <h5 style="display: inline;">Branch/Field of Study: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">Computer Science and Engineering.</p>
                                <br>
                                <h5 style="display: inline;">Year of Graduation: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">2018 (Expected). Currently a Junior year student.</p>

                                <br>
                                <h5 style="display: inline;">Branch/Field of Study: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">Computer Science and Engineering.</p>

                                <br>
                                <h5 style="display: inline;">Cumulative GPA: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">8.85/10.0 &nbsp;(As of August 2016)</p>

                                <br>
                                <h5 style="display: inline;">Admission Test: &nbsp;</h5>
                                <p class="show_inline" style="display: inline;">JEE Mains. Rank: 1893.</p>

                                <br>
                                <br>
                                <h5 style="display: inline;">List of Courses Completed </h5>
                                <ul style="columns: 3;">
                                    <li>Data Structures and Algorithms</li>
                                    <li>Design and Analysis of Algorithms</li>
                                    <li>Operating Systems</li>
                                    <li>Theory of Computation</li>
                                    <li>Discrete Mathematics</li>
                                    <li>Concrete Mathematics</li>
                                    <li>Software Engineering</li>
                                    <li>Data Communication</li>
                                    <li>Computer Organization and Architecture</li>
                                    <li>Design of Digital Systems</li>
                                    <li>Object Oriented Programming</li>
                                </ul>
                                <h5 style="display: inline;">List of On-going courses: &nbsp;</h5>
                                <ul style="columns: 3;">
                                    <li>Graph Theory</li>
                                    <li>Information Security</li>
                                    <li>Unix Programming and Networking</li>
                                    <li>Database Management Systems</li>
                                    <li>Computer Networks</li>
                                    <li>Engineering Economics</li>
                                </ul>
                        </div>
                    </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>