<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Experience</title>
        <link rel="icon" href="{% static 'images/title_image_48x48.jpg' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Mohit Reddy</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/academics/">Academics</a></li>
					<li><a href="https://drive.google.com/file/d/0B8c0Bnt30GX0RC1BQm5YTURBVTQ/view?usp=sharing" target="_blank">Resume</a></li>
					<li><a href="/#contact_me">Contact Me</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">


					<header class="major special">
						<h2>Professional Experience</h2>
					</header>


                    <div class="experience">
                        <header>
                            <h3>Summer Intern 2016 (May 2016 - July 2016).</h3>

                        </header>
                        <div class="inner" style="margin-left: 40px;">



                            <img src="{% static 'images/bigclozet.jpg' %}" style="max-width: 300px; max-height: 300px; float: right; margin-right: 40px;">

                            <div class="exp_heading"> <a href="https://www.bigclozet.com/">Bigclozet, Bangalore, India.</a></div>
                            <p>
                                Developed multithreaded crawlers in Python to extract data from different E-Commerce websites. Integrated Apache Kafka producers and consumers in Python and JAVA for further data processing. Integrated Grafana with crawlers for metrics and statistics. Around 1 Million new items fetched.
                                <br>
                                Developed a Webservice using Node.js, Express, MongoDB and JAVA to fetch live prices of an item.
                                <br>
                                Developed REST APIs for supporting different functionalities on Website and Android Application using Node.js, Express and MongoDB.
                                <br>
                                Developed Webview supported with different functionalities in Android Application for better user experience.
                                <br>
                                Worked with Notification service for Android application and renovation of the Android Application.</p>

                        </div>

                    </div>
				</div>
			</section>








		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'assets/js/accordion.js' %}"></script>

	</body>
</html>