<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Experience</title>
        <link rel="icon" href="{% static 'images/title_image_48x48.jpg' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Mohit Reddy</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/academics/">Academics</a></li>
					<li><a href="https://drive.google.com/file/d/0B8c0Bnt30GX0RC1BQm5YTURBVTQ/view?usp=sharing" target="_blank">Resume</a></li>
					<li><a href="/#contact_me">Contact Me</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">


					<header class="major special">
						<h2>Professional Experience</h2>
					</header>


                    <div class="experience">
                        <header>
                            <h3>Software Engineering Intern (May 2016 - July 2016).</h3>

                        </header>
                        <div class="inner" style="margin-left: 40px;">



                            <img src="{% static 'images/bigclozet.jpg' %}" style="max-width: 300px; max-height: 300px; float: right; margin-right: 40px;">

                            <div class="exp_heading"> <a href="https://www.bigclozet.com/">Bigclozet, Bangalore, India.</a></div>
                            <p><b>About the Organisation</b></p>
                            <p>Bigclozet is a women fashion aggregator. Items from different E-Commerce websites are displayed at one single place. Addition to that many filters, other functionalities are available providing users more options to search.</p>
                            <b>My work in 9 weeks.</b>
                            <ul>
                                <li>Developed crawlers to fetch items from different E-Commerce Websites. The crawlers were written in Python. Crawlers were made multi-threaded to increase the throughput. Backed up with kafka framework to decrease the load on the database server(MongoDB) as many operations used to perform read/write operations on MongoDB. Integrated Grafana to get better statistics of how the crawlers are running(how many new items crawled, for how many prices decreased). Integrated slack with the crawlers so that notifications come up when crawlers failed. Testing of crawlers took a lot of time. Catalogue size almost doubled. Crawlers fetched around 1 Million new items.</li>
                                <li>The second task was to write a web service which fetches the live price for an item being viewed by the user. Prices on big E-Commerce websites are changed frequently. Wrote the service using Node.js, Express and using a java server. Item URL and Seller name were passed to backend which used to crawl the item page and fetch the live price. </li>
                                <li>The third task was to write RESTful APIs in Node.js and MongoDB to support new functionalities being added to the website and android application.</li>
                                <li>Developed Webview in the android application when the user wants to buy a particular item. Added multiple functionalities in webview to make the user interaction better.</li>
                                <li>Worked on the notification service of the android application.</li>
                                <li>Major contribution in renovation of the whole android application of the organization. </li>
                            </ul>
                            <b>Technical Skills learnt/used: </b>
                            <br>
                            <b>Languages: </b>JavaScript, Java, Python.
                            <br>
                            <b>Databases: </b>MongoDB
                            <br>
                            <b>Frameworks/Tools: </b>Apache Kafka, Grafana, Android Studio, Webstorm, PyCharm, IntelliJ, MongoChef.

                        </div>

                    </div>
				</div>
			</section>








		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'assets/js/accordion.js' %}"></script>

	</body>
</html>