{% extends "base.html"%}
{% load staticfiles %}
{%block title%}Mohit Reddy | mohitreddy1996{%endblock%}
{%block script%}var d = document.getElementById("header");
d.className += "alt";{%endblock%}

{%block content%}

            <section id="banner">
				<h2>Hello World!</h2>
				<p>Welcome To My Personal Website</p>
                <div class="links">
                    <a href="https://www.facebook.com/mohit.reddy.5" class="icon fa-facebook-square" target="_blank">
                        <span class="label">Facebook</span>
                    </a>
                    <a href='mailto:mohitreddy1996@gmail.com' class="icon fa-google" target="_blank">
                        <span class="label">Gmail</span>
                    </a>
                    <a href="https://github.com/mohitreddy1996" class="icon fa-github-square" target="_blank">
                        <span class="label">Github</span>
                    </a>
                    <a href="https://linkedin.com/in/mohitreddy1996" class="icon fa-linkedin-square" target="_blank">
                        <span class="label">LinkedIn</span>
                    </a>
                </div>
			</section>


        <section id="one" class="wrapper special">
            <div class="inner">
                <header class="major narrow">
					<div class="heading_class">Profile</div>
                </header>
				<div class="customised_hr"></div>
                <div class="row">
                    <div class="col-1">
                        <header class="major narrow">
                            <div class="heading_class2">About Me</div>
							<div class="customised_hr"></div>
                            <div class="customised_para">I am a junior year undergraduate student from India. I love to code. Also to learn
                            and try new fields of computer science. I like working as a team. As the saying goes: 'two heads work better than one'. I love travelling and making new friends. </div>
                        </header>
                    </div>
                    <div class="col-2">
                        <img class="circularImage" src="{% static 'images/profilePicture2.jpg' %}">
                    </div>
                    <div class="col-3">
                        <header class="major narrow">
                            <div class="heading_class2">Details</div>
							<div class="customised_hr"></div>
                            <h5>Name:</h5>
                            <p>J Mohit Reddy</p>
                            <h5><b>Age:</b></h5>
                            <p>19 Years.</p>
                            <h5><b>Place:</b></h5>
                            <p>#D313, Mega Towers 2, National Institute of Technology, Karnataka, India.</p>
                        </header>
                    </div>
                    <div>
                        <p>I am 19 years old. I love spending time in-front of my laptop, mostly working on my projects. I love working late at nights. Mostly because of the silence around me and high internet speed. I speak three different languages fluently. English, Hindi and Telugu being those three.
                            <br />
                            I try to learn from my previous mistakes. I try to work hard. I set goals for a shorter period of time and try to achieve them. I like to learn things from different resources available on web. I don't like reading books other than Introduction to Algorithms by CLRS :P.
                            <br />
                            I also love watching TV shows in my free time. I am a huge fan of F.R.I.E.N.D.S, How I Met Your Mother, Game of Thrones and Sherlock and i have watched them more than once.
                        </p>
                    </div>
                </div>

                    <div class="heading_class3">
                        At a glance
                    </div>
                <div class="customised_hr2"></div>
            <div class="row">
                <div style="width:50%; float: left;">
                    <div class="major narrow">
                        <div class="heading_class2">
                            Education
                        </div>
                        <div class="glanceContent">
                            National Institue of Technology, Karnataka.<br>
                            Junior Year, Bachelor of Technology in Computer Science and Engineering.<br>
                            CGPA : 8.85/10
                            <br>
                        </div>
                        <br>
                        <ul class="actions">
                            <li>
                                <a href="/academics/" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="width : 50%; float:right;">
                    <div class="major narrow">
                        <div class="heading_class2">
                            Experience
                        </div>
                        <div class="glanceContent">
                            Software Engineering Intern at Bigclozet.
                            <br \>
                            Bigclozet is an E-commerce website which acts as an aggregator for other E-commerce website for Women Fashion.
                            <br>
                        </div>
                        <br>
                        <ul class="actions">
                            <li>
                                <a href="/experience/" class="button alt">Know More</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            </div>
        </section>


			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<div id="quote" class="quoteFont"></div>
					</header>
				</div>
			</section>

		<!-- Four -->
        <div id="contact_me">
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Have a Message?</h2>
						<p>Ping me at : </p>
					</header>
					<form action="/" method="POST">
                        {% csrf_token %}
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" required/>
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" required/>
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4" required></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input name="submit" type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>
        </div>

{%endblock%}