{% extends "base.html"%}
{% load staticfiles %}
{%block title%}Projects | mohitreddy1996{%endblock%}
{%block script%}{%endblock%}


{%block content%}
    <section id="main" class="wrapper">
        <div class="container">


            <header class="major special">
                <h2>Projects</h2>
            </header>

            <hr class="style-seven">

            <div class="project8">
            <header>
                <h3>Bingo Web App</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <div class="content">
                    <p>Bingo Game implemented as a Web App using Node.js, ExpressJs, HTML and AJAX. Allows matches with Bot and users. Multiple users can login/Register and play at the same time.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Allows User to play with the Bot. Bot implemented at the backend. Bot follows a greedy approach for selection of the next number.</li>
                        <li>User Bingo matrix saved in the backend for computations and checking for BINGO.</li>
                        <li>User Ids cached when user wants to battle with another user. When a match is found, user ids and removed from cache and one user is randomly assigned a chance to play.</li>
                        <li>Client side scripts written to check for the user chance and last move made by the opponent. Loaded implemented till the opponent makes the move.</li>
                        <li>User statistics saved when Game ends. User Data stored and modified in Mongo Database in the backend.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>ExpressJs used to server routes and server.</li>
                        <li>Node.js used for backend scripting and Bot gameplay.</li>
                        <li>Client side scripts written in JavaScript, AJAX and JQuery.</li>
                        <li>Bootstrap used for basic UI.</li>
                        <li>Webstorm used as text editor.</li>
                        <li>Git as version control system.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/Bingo-Web-App" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project10">
            <header>
                <h3>SimpleDB</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">

                <div class="content">
                    <p>Basic Database Management System coded in JAVA. Different APIs and Modules coded for the proper functionality
                    of the DBMS given skeleton code.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Data stored in the bufferpool in the form of Heap Files.</li>
                        <li>Different Aggregate functions like Sum, Count, Max, Min etc implemented.</li>
                        <li>Transactions handled accordingly. Page eviction implemented.</li>
                        <li>DBMS implemented to handle basic SQL Queries.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Skeleton code from UC Berkeley Database Management Project. Project written completely in JAVA.</li>
                        <li>JUnit used for testing purpose. Testcases provided along with the Skeleton code.</li>
                        <li>IntelliJ IDEA used as IDE.</li>
                        <li>Git as the version control system.</li>
                        <li></li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/SimpleDB" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>




        <div class="project9">
            <header>
                <h3>Song Genre Classifier (On-Going)</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <div class="content">
                    <p>A classifier which predicts the genre of the song depending on different rhythmic patterns, spectral patterns, timbral features of the song.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Classifier trained with a data set of X size.</li>
                        <li>Classifier trained for classifying songs into 5 categories. Categories Being Rock, Pop, EDM .... (to be edited).</li>
                        <li>Different forms of Fourier transformation used for audio processing. Different Machine learning algorithms used to train the train.</li>
                        <li>Classifier trained using CART (Classification and Regression Trees), Neural Networks, K-nearest Classification algorithms.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>IPython as the IDE.</li>
                        <li>Modules like Scipy, Numpy, Matplotlib, sklearn, scikits.talkbox etc modules in python.</li>
                        <li>Git as version control system.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/Song-Genre-Classifier" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>


        <div class="project1">
            <header>
                <h3>Face Detection Bot</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project1.jpg' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project1_2.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev">&laquo;</span>
                        <span class="next">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>A Raspberry Pi 2 bot which detects a face and follows it using Computer vision and Image processing Algorithms.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Image Processing and computer vision algorithms written in Python.</li>
                        <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                        <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                        <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Putty to connect to Raspberry Pi.</li>
                        <li>VNC Server to use Laptop as the screen.</li>
                        <li>Git for version control system.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/FaceDetectionBot" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project2">
            <header>
                <h3>Ping Pong Game</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow2" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project2_1.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project2_2.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project2_4.jpg' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev1">&laquo;</span>
                        <span class="next1">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p> Developed a 2 Player 2D PingPong game using OpenGL module in C++. Collisions with the walls and racquets at different angles implemented. Scores updated after a player wins a point.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Code completely written in C++.</li>
                        <li>Graphics implemented using openGL module in C++.</li>
                        <li>Collisions with bat and walls taken and angle of reflections implemented.</li>
                        <li>Speed of the ball maintained constant after collision with wall or bat.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Git for version control system.</li>
                        <li>Codeblocks for C++ text editor..</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/PingPongGame" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project3">
            <header>
                <h3>Movie Subtitles Downloader</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow3" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project3_1.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project3_2.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project3_3.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev2">&laquo;</span>
                        <span class="next2">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>Developed an Application using Python and subDB API to download synchronised subtitles for a movie.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Terminal based application.</li>
                        <li>Gets the subtitles of the movies passed as arguments to the program. Movie to be present in the same directory as that of the project.</li>
                        <li>Gets first and last 64KB of the video file. Encrypts it and uses it to match the data in the database.</li>
                        <li>Application implemented using SubDB API.</li>
                        <li>After successful download of the subtitle, runs the video file in vlc with the downloaded subtitles.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Git as version control system.</li>
                        <li>SubDB API module for fetching the subtitles.</li>
                        <li>Hashlib module to encrypt the video data.</li>
                        <li>Sublime text as text editor.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/Subtitle-downloader" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project4">
            <header>
                <h3>Quick Chat Application</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow4" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project4_1.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project4_2.jpg' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project4_3.jpg' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev3">&laquo;</span>
                        <span class="next3">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>Developed an Application where multiple users can enter a common room to chat. New Rooms can be created. And recent messages in a room can fetched. Application written in JAVA using a simple HTTP server.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Application developed in JAVA.</li>
                        <li>A basic http server to handle the requests by the users.</li>
                        <li>New chat room can be created easily. Unique chat room number allowed.</li>
                        <li>Multiple users can enter the same chat room and exchange messages.</li>
                        <li>GET/POST calls used to send data to the server from clients.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Basic HTTP server.</li>
                        <li>Git for version control system.</li>
                        <li>IntellIJ IDEA used as text editor.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/QuickChat" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project5">
            <header>
                <h3>Python GUI Application</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow5" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project5_1.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project5_2.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev4">&laquo;</span>
                        <span class="next4">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>Developed an Application using Python and Tkinter module in python for GUI which calculates the bill for the selected items and quantity specified along with it.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>GUI implemented using TkInter module of python.</li>
                        <li>Basic text input fields for quantity for each product.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Git for version control system.</li>
                        <li>Sublime text for text editor.</li>
                    </ul>
                    <ul class="actions" >
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/QuickChat" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project6">
            <header>
                <h3>Just Park It</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow6" style="float:right; margin-left: 20px;">
                        <figure class="show" style="margin-left: 100px; ">
                            <img src="{% static 'images/project7_1.png' %}" height="300px" width="250px">
                        </figure>
                        <figure  style="margin-left: 100px; ">
                            <img src="{% static 'images/project7_2.png' %}" height="300px" width="250px">
                        </figure>
                        <figure  style="margin-left: 100px; ">
                            <img src="{% static 'images/project7_3.png' %}" height="300px" width="250px">
                        </figure>
                        <figure  style="margin-left: 100px; ">
                            <img src="{% static 'images/project7_4.png' %}" height="300px" width="250px">
                        </figure>
                        <span class="prev5">&laquo;</span>
                        <span class="next5">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>Android Application in Ionic framework which gives directions to a parking place selected by the user. Parking places are hardcoded.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Application made using Ionic Framework.</li>
                        <li>Fetches present location of an individual. Displays markers with marker names.</li>
                        <li>All paths to that marker are displayed with all options(walk, vehicle etc).</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Geo-location and Google maps API used for routes.</li>
                        <li>Ionic cordova framework for building app.</li>
                        <li>AngularJs and HTML used for the Web-App.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/sudo-getAC/JustParkIt" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <br>
            <hr class="style-eight">
            <br>

        <div class="project7">
            <header>
                <h3>Library Management System</h3>
            </header>
            <div class="inner" style="margin-left: 40px;">
                <span class="image" style="float: right; margin-left: 20px">
                    <div class="diy-slideshow7" style="float:right; margin-left: 20px;">
                        <figure class="show">
                            <img src="{% static 'images/project6_1.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project6_2.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project6_3.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project6_4.png' %}" height="350px" width="450px">
                        </figure>
                        <figure>
                            <img src="{% static 'images/project6_5.png' %}" height="350px" width="450px">
                        </figure>
                        <span class="prev6">&laquo;</span>
                        <span class="next6">&raquo;</span>
                    </div>
                </span>
                <div class="content">
                    <p>C program with basic menu for depositing/issuing books, fine calculations, books/user details etc to implement Library Management system.</p>
                    <p><b>Features:</b></p>
                    <ul>
                        <li>Application implemented using C.</li>
                        <li>Terminal based application.</li>
                        <li>Files used to save/retrieve data.</li>
                        <li>Administrator and User options. Administrator option password protected.</li>
                        <li>Features like Book issue/Return, New books addition, new Student registration, fetching book details etc implemented.</li>
                    </ul>
                    <p><b>Tools Used:</b></p>
                    <ul>
                        <li>Git as the version control system.</li>
                        <li>Codeblocks as the text editor.</li>
                    </ul>
                    <ul class="actions">
                        <li style="margin-left: 40%;">
                            <a href="https://github.com/mohitreddy1996/Library-Management-System" class="button alt" target="_blank">View source code</a>
                        </li>
                    </ul>
                    <br>
                    <hr class="style-seven">
                </div>
            </div>
        </div>

        </div>

    </section>

{%endblock%}