<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<title>Projects</title>
        <link rel="icon" href="{% static 'images/title_image_48x48.jpg' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Mohit Reddy</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/academics/">Academics</a></li>
					<li><a href="https://drive.google.com/file/d/0B8c0Bnt30GX0RC1BQm5YTURBVTQ/view?usp=sharing" target="_blank">Resume</a></li>
					<li><a href="/#contact_me">Contact Me</a></li>
				</ul>
			</nav>

        <section id="main" class="wrapper">
            <div class="container">


                <header class="major special">
                    <h2>Projects</h2>
                </header>

                <hr class="style-seven">
            <div class="project1">
                <header>
                    <h3>Face Detection Bot</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project1.jpg' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project1_2.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev">&laquo;</span>
                            <span class="next">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>A Raspberry Pi 2 bot which detects a face and follows it using Computer vision and Image processing Algorithms.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/FaceDetectionBot" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project2">
                <header>
                    <h3>Ping Pong Game</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow2" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project2_1.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project2_2.png' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project2_4.jpg' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev1">&laquo;</span>
                            <span class="next1">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p> Developed a 2 Player 2D PingPong game using OpenGL module in C++. Collisions with the walls and racquets at different angles implemented. Scores updated after a player wins a point.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/PingPongGame" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project3">
                <header>
                    <h3>Movie Subtitles Downloader</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow3" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project3_1.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project3_2.png' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project3_3.png' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev2">&laquo;</span>
                            <span class="next2">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>Developed an Application using Python and subDB API to download the synchronised subtitles for a movie.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/Subtitle-downloader" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project4">
                <header>
                    <h3>Quick Chat Application</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow4" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project4_1.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project4_2.jpg' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project4_3.jpg' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev3">&laquo;</span>
                            <span class="next3">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>Developed an Application where multiple users can enter a common room to chat. New Rooms can be created. And recent messages in a room can fetched. Application written in JAVA using a simple HTTP server.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/QuickChat" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project5">
                <header>
                    <h3>Python GUI Application</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow5" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project5_1.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project5_2.png' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev4">&laquo;</span>
                            <span class="next4">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>Developed an Application using Python and Tkinter module in python for GUI which calculates the bill for the selected items and quantity specified along with it.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions" >
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/QuickChat" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project6">
                <header>
                    <h3>Just Park It</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow6" style="float:right; margin-left: 20px;">
                            <figure class="show" style="margin-left: 100px; ">
                                <img src="{% static 'images/project7_1.png' %}" height="300px" width="250px">
                            </figure>
                            <figure  style="margin-left: 100px; ">
                                <img src="{% static 'images/project7_2.png' %}" height="300px" width="250px">
                            </figure>
                            <figure  style="margin-left: 100px; ">
                                <img src="{% static 'images/project7_3.png' %}" height="300px" width="250px">
                            </figure>
                            <figure  style="margin-left: 100px; ">
                                <img src="{% static 'images/project7_4.png' %}" height="300px" width="250px">
                            </figure>
                            <span class="prev5">&laquo;</span>
                            <span class="next5">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>Android Application in Ionic framework which gives directions to a parking place selected by the user. Parking places are hardcoded.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/sudo-getAC/JustParkIt" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

                <br>
                <hr class="style-eight">
                <br>

            <div class="project7">
                <header>
                    <h3>Library Management System</h3>
                </header>
                <div class="inner" style="margin-left: 40px;">
                    <span class="image" style="float: right; margin-left: 20px">
                        <div class="diy-slideshow7" style="float:right; margin-left: 20px;">
                            <figure class="show">
                                <img src="{% static 'images/project6_1.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project6_2.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project6_3.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project6_4.png' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project6_5.png' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev6">&laquo;</span>
                            <span class="next6">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <p>C program with basic menu for depositing/issuing books, fine calculations, books/user details etc to implement Library Management system.</p>
                        <p><b>Features:</b></p>
                        <ul>
                            <li>Image Processing and computer vision algorithms written in Python.</li>
                            <li>Raspberry Pi 2 and Camera module of RP2 used for capturing the faces.</li>
                            <li>GPIO Module of Python for Raspberry Pi 2 used to control the motors.</li>
                            <li>Simple Algorithm to detect the movement of the face and required motor to run.</li>
                        </ul>
                        <p><b>Tools Used:</b></p>
                        <ul>
                            <li>Putty to connect to Raspberry Pi.</li>
                            <li>VNC Server to use Laptop as the screen.</li>
                            <li>Git for version control system.</li>
                        </ul>
                        <ul class="actions">
                            <li style="margin-left: 40%;">
                                <a href="https://github.com/mohitreddy1996/Library-Management-System" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                        <br>
                        <hr class="style-seven">
                    </div>
                </div>
            </div>

            </div>

        </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'assets/js/slideshow.js' %}"></script>

	</body>
</html>