<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<title>Projects</title>
        <link rel="icon" href="{% static 'images/title_image_48x48.jpg' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/slideshow.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Mohit Reddy</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/experience/">Experience</a></li>
					<li><a href="/academics/">Academics</a></li>
					<li><a href="https://drive.google.com/file/d/0B8c0Bnt30GX0RC1BQm5YTURBVTQ/view?usp=sharing" target="_blank">Resume</a></li>
					<li><a href="/contact_me/">Contact Me</a></li>
				</ul>
			</nav>

        <section id="one" class="wrapper style1">
            <div class="inner">
                <header class="major special">
                    <div class="heading_class">Projects</div>
                </header>
                <article class="feature left">
                    <span class="image">
                        <div class="diy-slideshow">
                            <figure class="show">
                                <img src="{% static 'images/project1.jpg' %}" height="350px" width="450px">
                            </figure>
                            <figure>
                                <img src="{% static 'images/project1_2.png' %}" height="350px" width="450px">
                            </figure>
							<figure>
                                <img src="{% static 'images/project1_3.png' %}" height="350px" width="450px">
                            </figure>
                            <span class="prev">&laquo;</span>
                            <span class="next">&raquo;</span>
                        </div>
                    </span>
                    <div class="content">
                        <h3>Face Detection Bot</h3>
                        <p> Built and Programmed a Raspberry pi 2 bot to follow human face using OpenCV2(Python) face detection algorithms. Bot successfully detected faces titled at different angles and motors were triggered depending on the movement of the face.</p>
                        <ul class="actions">
                            <li>
                                <a href="https://github.com/mohitreddy1996/FaceDetectionBot" class="button alt" target="_blank">View source code</a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="feature right">
                    <span class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></span>
                    <div class="content">
                        <h2>Integer vitae libero acrisus egestas placerat  sollicitudin</h2>
                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'assets/js/slideshow.js' %}"></script>

	</body>
</html>